@import './styles/colors';
@import './styles/mixins';

  .cart {

    &__container {
      @include common-components;
      background-color: white;
      border: solid 1px;
      border-radius: 5px;
      width: 728px;
      display: flex;
      flex-direction: row;
    }

    &__items {
      height: 67%; 
    }
  
    &__summary {
      background: $background-summary;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: column;
      height: calc(100% + 30px);
      margin-right: -12px;
      margin-top: -15px;
      padding-top: 26px;
      width: calc(30% + 7px);
    }

    &__main-title {
      @include strong-title;
      font-size: 12px;
      margin-left: 17px;
      margin-bottom: 5px;
  
      &::after {
        @include  common-title-borders;
      }
    }
  
    &__main-subtitle {
      @include light-title;
      color: $text-dark;
      font-size: 10px;
      margin: 5px 13px;
    }
  
    &__products {
      display: flex;
      flex-direction: column;
      height: 100%;
      // border: solid 1px grey;
      font-size: 12px;
      width: 80%;
      align-self: center;
      justify-self: center;
      margin-left: 10%;
      
      &-item {
        color: $text-dark;
        font-size: 8px;
        list-style: none;
        margin-top: 10px;
      }
    }
  
    &__total-cost {
      align-self: flex-end;
    }
    
    &__checkout {
      @include main-button;
      border: none;
      width: 97%;
      margin: 10% 3%;
      font-size: 10px;
 
      &-container {
        margin-left: 10%;
        width: 80%;
      }

    }
  }