@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Fredoka+One&display=swap');
@import './styles/colors';
@import './styles/mixins';
// @import './product_list';
// @import './cart-summary';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #212140;
  padding: 37px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
.main {
  display: flex;
  justify-content: center;
}
.shoppingcart__container {
  @include common-components;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 436px;
  width: 728px;
}
.cart {
  &__main-title {
    @include strong-title;
    font-size: 12px;
    margin-left: 17px;
    margin-bottom: 20px;

    &::after {
      @include  common-title-borders;
    }
  }

  &__main-subtitle {
    @include light-title;
    color: #555;
    font-size: 10px;
    margin: 5px 13px;
  }

  &__main-title {
        @include strong-title;
        font-size: 12px;
        margin-left: 17px;
        margin-bottom: 20px;
        &::after {
          @include  common-title-borders;
        }
    }

    &__main-subtitle {
      @include light-title;
      color: #555;
      font-size: 10px;
      margin: 5px 13px;
    }
}

