$_blue_dark: #3f3e5f;
$_blue_dark2: #212140;
$_blue_medium: #7350ff;
$_blue_purpled: #8465ff;

$_grey_light: #f3f3f3;
$_grey_light1: #ececef;
$_grey_light2: #9393a0;
$_grey_medium1: #919199;

$white: #fff;

// backgrounds
$main-dark-blue: $_blue_dark2;
$background-summary: $_grey_light;

// texts
$title-main: $_blue_dark2;
$text-main: $_grey_medium1; 
// borders