@import './colors';

@mixin strong-title($color: $title-main) {
  font-family: 'Fredoka One', cursive;
  color: $color;
}

@mixin light-title($color: $text-main) {
  font-family: 'Bilbo', cursive;
  color: $color;
  color: #555;
  font-size: 10px;
  margin: 13px;
}

@mixin common-components {
  padding: 15px 10px;
  display: flex;
  margin: 10px;
}
@mixin text-accented {
  font-family: 'Fredoka One', cursive;
  color: $text-accent;
  margin-right: 5px;
}

@mixin common-title-borders {
  content: '';
  display: flex;
  border-top: solid 1px $border-light;
  opacity: 0.5;
  margin-top: 13px;
  width: 95%;
}

@mixin main-button {
  background-color: $_blue_medium;
  color: white;
  font-weight: 900;
  height: 30px;
  width: 100%;
}